html{
  font-size: 62.5%;
}
*,*::after,*::before{
  margin: 0px;
  padding: 0px;
}

/* Sing In */
.app_signin{
  display: flex;
  flex-direction: column;
}
.app_signin input{
  font-size: 1.6rem;
  margin: 1rem 0px;
}
.app_signin>button{
  margin: 1rem 0px;
}
.app{
  background-color: #f8f8f8;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-column: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
}
button span{
  font-size: 1.5rem;
}
h1{
  font-size: 3.2rem;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 1.872rem;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.328rem;
}
h6{
  font-size: 1.72rem;
}
/* HEDAER */
.app_header{
  grid-area: header;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
}
.app_headerImage{
  object-fit: contain;
  width: 15rem;
  background-color: white;
}
.main_content{
grid-area: main;
padding: 10px;
}
footer{
  grid-area: footer;
  background-color: darkgray;
}


/* POST */
.post{
  max-width: 50rem;
  background-color: #FFF;
  border: 0.1rem solid lightgray;
  padding: 1rem 0rem;
  margin-bottom: 4.5rem;
}
.post__header{
  display: flex;
  align-items: center;
  padding: 1rem;
}
.post__avatar{
  margin-right: 10px;
}
.post__image{
  width: 100%;
  object-fit: contain;
  display: block;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text{
font-weight: normal;
padding: 1rem;
}